.createForm{
    background: linear-gradient(130deg, rgba(21,103,186,0.9137780112044818) 0%, rgba(210,224,233,1) 17%, rgba(210,224,233,1) 77%, rgba(255,193,7,0.9417892156862745) 100%);

}
#arrow{
    display: flex;
    border: 5px solid #ffffff;
    border-radius: 15px;
    color: yellow;
    background-color: #004080;
    width: 70px;
    height: 50px;
    justify-content: flex-start;
}
#arrow:hover{
    cursor: pointer;
    transform: scale(1.2);
}
