<div class="container h-full">

    <div class="bg-gray-100 shadow-lg rounded-lg row">
      <div class="side  text-white rounded-l-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 cursor-pointer" id="arrow" (click)="goBack()">
          <path fill="yellow" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" />
        </svg>
  
        <h1 class="text-2xl mt-4">{{ project?.name }}</h1>
  
        <div class="imageUploader mt-4">
          <img id="currentPhoto" src="https://t3.ftcdn.net/jpg/03/04/53/76/360_F_304537655_ZdqIkxOgANc5nbCYjfwk0G1IAespkd2A.jpg" class="w-40 h-40 mx-auto rounded-full shadow">
        </div>
  
        <div class="mt-4">
          <h2 class="text-xl">Project Leader</h2>
          <div class="leaderInfo">
            <p>Kasper</p>
          </div>
        </div>

        <div class="mt-4">
          <h2 class="text-xl">Project Type</h2>
          <p *ngIf="projectTypeName">{{ projectTypeName }}</p>
          
        </div>

  
        <div class="mt-4">
          <button class="btn bg-blue-500 hover:bg-blue-700 text-white">Send Request</button>
        </div>

  <div class="bg-gray-100 shadow-lg rounded-lg row">
    <div class="side bg-green-500 text-white rounded-l-lg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 cursor-pointer" id="arrow" (click)="goBack()">
        <path fill="yellow" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" />
      </svg>

      <h1 class="text-2xl mt-4">{{ project?.name }}</h1>

      <div class="imageUploader mt-4">
        <img id="currentPhoto" src="https://t3.ftcdn.net/jpg/03/04/53/76/360_F_304537655_ZdqIkxOgANc5nbCYjfwk0G1IAespkd2A.jpg" class="w-40 h-40 mx-auto rounded-full shadow">

      </div>

      <div class="mt-4">
        <h2 class="text-xl">Project Leader</h2>
        <div class="leaderInfo">
          <p>Kasper</p>
        </div>
      </div>

      <div class="mt-4">
        <button class="btn bg-blue-500 hover:bg-blue-700 text-white">Send Request</button>
      </div>
    </div>
    <div class="main p-4 bg-white rounded-r-lg">
      <div class="rows-2">
        <h2 class="text-xl flex p-3">Tags</h2>
        <div class="justify-start flex">
          <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 shadow-lg">Tag</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 shadow-lg">Tag</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 shadow-lg">Tag</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 shadow-lg">Tag</span>
        </div>

        </div>

      </div>
      <h2 class="text-2xl mt-4 justify-start flex">Description</h2>
      <div class="flex justify-start p-1 border-red-200">
        <p class="border-dotted border-2 border-black p-3 m-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <h2 class="text-2xl mt-4 justify-start flex">Requirements</h2>
      <div class="m-3 flex justify-start">
            <ul class=" text-yellow list-disc dark:text-gray-400">
              <li class="">
                  Du må ha bachelor
              </li>
              <li>
                  Over C i snitt
              </li>
              <li>
                  Må kunne .Net
              </li>
          </ul>
      </div>

    </div>
  </div>
</div>