<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-4 pr-4">
    <!-- Left portion -->
    <div class="flex items-center justify-start p-4">
      <a routerLink="/" class="flex flex-row">
        <img src="assets/images/lagaltlogo.png" class="h-8 pr-4" alt="Lagalt Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Lagalt</span>
      </a>
    </div>


    <!-- Right portion -->
    <div class="flex items-center">
      <button [routerLink]="['/newproject']" class="flex items-center">
        New Project
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 mr-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      </button>
      <a [routerLink]="['/profile']">
        <img src="assets/images/profile.png" alt="Profile Icon" class="w-8 h-8 rounded-full ml-4 mr-2">
      </a>
    </div>
  </div>
</nav>
