<div class="row">
    <div class="side">      
      <h2>Filter</h2>
      <div class="filterBox">
        
      </div>
      
    </div>
    <div class="main">
        <h1>List of Projects</h1>
        <input [(ngModel)]="searchQuery" type="text" placeholder="Search by project name" (input)="filterProjects()">
        <div class="project-list-parent">
            <app-project-item *ngFor="let project of filteredProjects" [project]="project"></app-project-item>
        </div>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="footer">
    <h2>Footer</h2>
  </div>
  

