h1 {
  text-align: center;
}
.pages{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pages button{
  background-color: #335064;
  cursor: pointer;
  gap: 10px;
}
.pokemon-list-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns in each row */
  gap: 20px;
  padding:10px;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 1000px) {
  .pokemon-list-parent {
      grid-template-columns: repeat(3, 1fr); /* Two columns in each row */
  }
}

/* Media Query for screens smaller than 576px */
@media (max-width: 576px) {
  .pokemon-list-parent {
      grid-template-columns: repeat(2, 1fr); /* One column in each row */
  }
}