h1 {
  text-align: center;
}
.pages{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pages button{
  background-color: #335064;
  cursor: pointer;
  gap: 10px;
}
.project-list-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns in each row */
  gap: 20px;
  padding:10px;
}
.project-child:hover{
  transform: scale(1.01)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Column container */
.row {  
  display: flex;
  height: auto;
}

.side {
  flex: 20%;
  background-color: #004080;
  padding: 20px;
  height: auto;
  
}
.filterBox{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.main {
  flex: 70%;
  background: rgb(21,103,186);
  background: linear-gradient(130deg, rgba(21,103,186,0.9137780112044818) 0%, rgba(210,224,233,1) 17%, rgba(210,224,233,1) 77%, rgba(255,193,7,0.9417892156862745) 100%);
  padding: 20px;

}

@media only screen and (max-width: 600px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .project-list-parent {
    grid-template-columns: repeat(1, 1fr); /* Three columns in each row */
    gap: 20px;
    padding:10px;
  }
}
