h1 {
  text-align: center;
}
.pages{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pages button{
  background-color: #335064;
  cursor: pointer;
  gap: 10px;
}
.project-list-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns in each row */
  gap: 20px;
  padding:10px;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}



/* Column container */
.row {  
  display: flex;
  height: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px;
  
}
.filterBox{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

