<div class="max-w-sm bg-gray-200 border border-gray-400 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 cursor-pointer flex flex-col items-center p-2">
    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{project?.imageUrl}}" alt="" />
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project?.name }}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ projectTypeName }}</p>
    </div>
</div>

