
<div class="max-w-xs mx-auto bg-white border border-white rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700 cursor-pointer flex flex-col items-center p-6 m-4">
    <img class="w-20 h-20 mb-3 rounded-full shadow-2xl" src="{{project?.imageUrl}}" alt="" />
    <div class="text-center">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project?.name }}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ projectTypeName }}</p>
    </div>
    <div class="flex flex-wrap">
      <span *ngFor="let tag of projectTags" class="m-1 p-1 bg-blue-500 rounded text-sm font-bold">
          {{ tag }}
      </span>
  </div>
</div>





