<app-navbar></app-navbar>
<div class="flex h-screen bg-gray-100 overflow-auto">

  <!-- Sidebar -->
  <div class="flex flex-col p-5 h-screen bg-[#004080] text-white space-y-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 cursor-pointer" id="arrow" (click)="goBack()">
      <path fill="yellow" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" />
    </svg>
    <div class="mt-4 flex items-center justify-center space-x-4">
      <div class="leaderInfo">
          <h2 class="text-2xl font-bold">{{ userName }}</h2>
      </div>
    </div>

    <!-- Display user skills inside Sidebar -->
    <div class="mt-6 bg-white p-4 rounded-md shadow-md">
      <h2 class="text-xl font-bold mb-4 text-[#004080]">Technical Skills:</h2>
      <ul class="space-y-2 text-left">
        <li *ngFor="let skill of userSkills" class="text-lg text-[#004080]">-{{skill.skillName }}</li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-grow p-4 md:p-6 overflow-y-auto">
    <div class="flex justify-end mb-6 space-x-4">
      <img src="assets\images\Settings.png" alt="Settings" (click)="toggleSettingsMenu()" class="h-8 w-8 cursor-pointer">

      <!-- Dropdown Menu -->
      <div *ngIf="showSettingsMenu" class="absolute right-0 mt-2 w-60 py-3 bg-white rounded-md shadow-xl z-10">
          <button (click)="openModal('skills')" class="block w-full px-5 py-3 text-center text-base font-medium text-gray-700 hover:bg-green-600">Add Skills</button>
          <button (click)="openModal('portfolio')" class="block w-full px-5 py-3 text-center text-base font-medium text-gray-700 hover:bg-blue-600">Add Portfolio</button>
          <button (click)="openModal('details')" class="block w-full px-5 py-3 text-center text-base font-medium text-gray-700 hover:bg-orange-400">Edit Details</button>
          <button (click)="openModal('delete')" class="block w-full px-5 py-3 text-center text-base font-medium text-gray-700 hover:bg-red-600">Delete Skills/Portfolio</button>

      </div>

      <!-- Modals -->
      <app-edit-profile *ngIf="activeModal === 'skills'" (saveData)="handleSave($event)" (closeModalRequest)="closeModal()"></app-edit-profile>
      <app-add-portfolio *ngIf="activeModal === 'portfolio'" (savePortfolioData)="portfolioSave($event)" (closePortfolioModalRequest)="closeModal()"></app-add-portfolio>
      <app-update-user *ngIf="activeModal === 'details'" (saveData)="handleUserUpdate()" (closeModalRequest)="closeModal()"></app-update-user>
      <app-delete-portfo-skills *ngIf="activeModal === 'delete'" (closeModalRequest)="closeModal()"></app-delete-portfo-skills>

  </div>

        <div *ngIf="user">
          <h2 class="text-2xl font-extrabold dark:text-white">About me</h2>
          <p class="my-4 text-lg ">{{ user.description }}</p>

          <h2 class="text-2xl font-extrabold dark:text-white">Education</h2>
          <p class="my-4 text-lg ">{{ user.education }}</p>
        </div>
    <app-portfolio-projects-list></app-portfolio-projects-list>  
      
    <app-owned-project></app-owned-project>

  </div>

