@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {  font-family: 'roboto', sans-serif; background-color: #e6d596; height: 100%; text-align: center;  letter-spacing: 1.9px;}
body { margin: 0; }
