<div class="container">

  <div class="bg-gray-100 shadow-lg rounded-lg row">

    <div class="main">
      <div class="tab h-8 bg-green-500 flex justify-between items-center" id="tabs">
        <div (click)="openTab('Message')" [class.active]="activeTab === 'Message'" class="tabItem">Message Board</div>
        <div *ngIf="isAuthorizedToView()"  (click)="openTab('Process')" [class.active]="activeTab === 'Process'" class="tabItem">Process</div>
        <div (click)="openTab('Tools')" [class.active]="activeTab === 'Tools'" class="tabItem">Tools and Resources</div>
      </div>
      <div [id]="'Message'" class="tabcontent" [style.display]="activeTab === 'Message' ? 'block' : 'none'">
        <app-new-message></app-new-message>
        <app-message></app-message>
      </div>
      <div [id]="'Process'" class="tabcontent" [style.display]="activeTab === 'Process' ? 'block' : 'none'">
        <ul>
          <li *ngFor="let request of projectRequests">
              {{ request.userName }} wants to join.
              <button (click)="acceptRequest(request.projectRequestId)">Accept</button>
              <button (click)="deleteRequest(request.projectRequestId)">Delete</button>
              <button (click)="viewUserDetails(request.userId)">View Details</button>

          </li>
      </ul>
      </div>
      <div [id]="'Tools'" class="tabcontent" [style.display]="activeTab === 'Tools' ? 'block' : 'none'">
        <h3>Tools</h3>
        <p>Tools is the capital of Japan.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Overlay -->
<div *ngIf="showModal" class="fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-50">
  <!-- Modal Content -->
  <div class="modal-content bg-white p-6 rounded-lg">
    <h2>User Details</h2>
    <p><strong>Name:</strong> {{ userDetails.userName }}</p>
    <p><strong>Skills:</strong> {{ userDetails.skills }}</p>
    <p><strong>Education:</strong> {{ userDetails.education }}</p>
    <p><strong>Description:</strong> {{ userDetails.description }}</p>
    <button (click)="closeModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Close</button>
  </div>
</div>
