  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

#arrow{
    display: flex;
    border: 5px solid #FFC107;
    border-radius: 15px;
    color: yellow;
    background-color: #004080;
    width: 70px;
    height: 50px;
    justify-content: flex-start;
}
#arrow:hover{
    cursor: pointer;
    transform: scale(1.2);
}
/* Base Button Styles */
  /* Hover State */
  .btn:hover {
    background-color: #2779bd;
  }
  
  /* Photo Preview */
  #photoPreview {
    display: none;
  }
  
  /* Current Photo Styles */
  #currentPhoto {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 5px solid #FFC107;
    outline: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #tabs {
    position: sticky !important;
    z-index: 1;
    top: 0;
  }
  
  .tabItem{
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

  .tabItem.active {
    background-color: white;
    box-shadow: 0px -3px 0px 0px green inset;
  }

  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    display: flex;
    flex-direction: column;
    background-color: #004080;
    padding: 20px;
    height: 100%;
  }
  
  /* Change background color of buttons on hover */
  .tabItem:hover {
    background-color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    border-radius: 10px;
  }
  
  .tags{
    display: flex;
    justify-content: flex-start;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    
  }