<div class="container">
  <div class="bg-gray-100 shadow-lg rounded-lg row">

    <div class="main">
      <div class="tab h-8 bg-green-500 flex justify-between items-center" id="tabs">
        <div (click)="openTab('Message')" [class.active]="activeTab === 'Message'" class="tabItem">Message Board</div>
        <div *ngIf="isAuthorizedToView()"  (click)="openTab('Process')" [class.active]="activeTab === 'Process'" class="tabItem">Process</div>
        <div (click)="openTab('Tools')" [class.active]="activeTab === 'Tools'" class="tabItem">Tools and Resources</div>
      </div>
      <div [id]="'Message'" class="tabcontent" [style.display]="activeTab === 'Message' ? 'block' : 'none'">
        <app-new-message></app-new-message>
        <app-message></app-message>
      </div>
      <div [id]="'Process'" class="tabcontent" [style.display]="activeTab === 'Process' ? 'block' : 'none'">
        <h3>Process</h3>
        <p>Process is the capital of France.</p>
      </div>

      <div [id]="'Tools'" class="tabcontent" [style.display]="activeTab === 'Tools' ? 'block' : 'none'">
        <h3>Tools</h3>
        <p>Tools is the capital of Japan.</p>
      </div>
    </div>
  </div>
</div>

